{%- if product != blank and product != empty -%}
  <a class="product-card" href="{{ product.url | within: collection }}">
    <div class="product-card__media">
      {%- if product.featured_media != blank -%}
        <img
          src="{{ product.featured_media | image_url: width: 800 }}"
          alt="{{ product.featured_media.alt | default: product.title | escape }}"
          width="800"
          height="{{ 800 | divided_by: product.featured_media.aspect_ratio | round }}"
          loading="lazy">
      {%- else -%}
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
      {%- if product.compare_at_price > product.price -%}
        <span class="product-card__badge">{{ 'products.product.sale' | t }}</span>
      {%- endif -%}
    </div>
    <h3 class="product-card__title">{{ product.title }}</h3>
    <div class="product-card__price">{% render 'price', product: product %}</div>
  </a>
{%- else -%}
  <div class="product-card">
    <div class="product-card__media">
      {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
    <h3 class="product-card__title">Product title</h3>
    <div class="product-card__price">$0.00</div>
  </div>
{%- endif -%}
